body{
    background: radial-gradient(#a6bfcc,#c0cce5 );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.panel-body{
    background-color: #ffff; 
    margin-top:150px;
    box-shadow: 5px 10px #888888; 
    border-radius: 15px
}
.form-group{
    margin-top:25px;
}